@using H4G_Project.Controllers
@{
    ViewData["Title"] = "Deliveries";
    Layout = "~/Views/Shared/_StationManager.cshtml";
    List<Parcel> pendingList = ViewData["pendingParcel"] as List<Parcel>;
    List<Parcel> airportList = ViewData["airportParcel"] as List<Parcel>;
    List<Parcel> remainingList = ViewData["remainingParcel"] as List<Parcel>;
    Dictionary<char, string> statusvalue = ViewData["deliverystatus"] as Dictionary<char, string>;
    Dictionary<int,string> deliveryman = ViewData["deliveryman"] as Dictionary<int,string>;
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style>
    #acceptbutton {
        border-radius: 5px;
        border: 1px solid black; /* You can adjust the color of the border as needed */
    }
    body{
    background-color:#f9f9f9;
    }
    #pending{
    background-color:#eee;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:50px; 
    bottom:0;
    }   
    .tab_wrapper{
    margin-top:20px;
    }
    .tabs {
    list-style: none;
    padding:0;
    margin: 0;
    }

    /* Display tabs horizontally */
    .tabs li {
    display: inline-block;
    margin-right: 20px; /* Adjust spacing between tabs */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    color: #a9a9a9;

    }

    /* Style for the active tab */
    .tabs li.active {
    font-weight: normal; /* Remove bold styling */
    color: #000000; /* Change text color for active tab */
    display: inline-block;
    padding: 5px 5px;
    background-color:#eee;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    }

    .tab-indicator {
    position: absolute;
    bottom: -2px; /* Position the indicator below the active tab */
    height: 2px;
    background-color: #000000; /* Color of the indicator */
    transition: left 0.3s ease; /* Transition effect for sliding animation */
    }


    .other-crap {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-bottom:20px;
    background-color:#eee;
    border-top-right-radius:5px;
    }


    .search-container{
    display: flex;
    width:50%;
    }

    #searchbar{
    width:100%;
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 8px 12px;
    font-size: 16px;
    outline: none; 
    }

    #searchbar:focus {
    border-color: rgb(0, 111, 168); 
    box-shadow: 0 0 5px rgb(0, 111, 168);
    }

    .button-container {
    flex: 1; /* Make the button container take the remaining space */
    display: flex;
    justify-content: flex-end; /* Spread buttons to the right */
    gap: 10px; /* Add spacing between buttons */
    }

    .other-crap button {
    padding: 8px 15px;
    background-color: rgb(0, 111, 168);

    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .tbody{
    font-size:11px;
    }

    .form-dropdown {
    padding: 2px;
    background-color: #efefef;
    border-radius: 3px;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    padding-right:25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align:center;
    color:black;
    }

    h2 {
    text-align: center;
    }
    .href{
    text-decoration: none; 
    color: #551a8b;
    }
    #viewparcels{
    padding-left:40px;
    padding-right:40px;
    background-color:#eee;
    padding-top:20px;
    padding-bottom:50px;
    bottom:0;
    }
</style>
<!--Once AJAX goes through reload tbody for both tables-->
<div class="tab_wrapper">
    <div class="tab-action">
        <ul class="tabs">
            <li class="active" id = "pendingdiv">
                <div class="queue-label">
                    Pending
                    <span class="counter"></span>
                </div>
            </li>
            <li id="alldiv">
                <div class="">
                    All Parcel
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="other-crap">
    <div class="search-container">
        <input type="text" id="searchbar" placeholder="Find Parcels By Description ID Location" autocomplete="off" />
    </div>
    <div class="button-container">
        <button id="collectall">Collect Parcels</button>    
        <button id="update">Update</button>
    </div>
</div>

<div id = "pending">
    <h2 class="header-text">Pending</h2>
    <table class="table table-striped" id="pendingparcel">
        <thead>
            <tr class="table-secondary">
                <th scope="col">
                    ID
                    <span class="table-sort"></span>
                </th>
                <th scope="col"></th>
                <th scope="col">
                    DESCRIPTION
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    DELIVERY ADDRESS
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    TO
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    DELIVERY MAN
                    <span class="table-sort"></span>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (pendingList.Count > 0)
            {
                @foreach (var parcel in ViewData["pendingParcel"] as List<Parcel>) //show only the first 10 rows
                {
                    <tr>
                        <td class="td-id" scope="row">
                            <a asp-area="" asp-action="IndividualParcel" asp-route-id="@parcel.parcelId" class="table-display href">@parcel.parcelId</a>
                        </td>
                        <td class="td-destination-icon" scope="row">
                            @if (parcel.toCountry != parcel.fromCountry)
                            {
                                <span></span> <!--Add the icon here-->
                            }
                            else
                            {
                                <span></span> <!--Add the icon here-->
                            }
                        </td>
                        <td class="td-description" scope="row">
                            @parcel.itemDescription.Substring(0,Math.Min(parcel.itemDescription.Length,20))
                        </td>
                        <td class="td-address" scope="row">
                            @parcel.deliveryAddress
                        </td>
                        <td class="td-to" scope="row">
                            @parcel.toCity,@parcel.toCountry
                        </td>
                        <td class="td-deliveryman" scope="row">
                            <select asp-items="@StationManagerController.getDeliveryMan(parcel) as List<SelectListItem>" class="form-dropdown"></select>
                        </td>
                        <td class="td-error" scope="row">
                            <span style="color:red" id="@parcel.parcelId"></span>
                        </td>
                        <!--6 table data-->
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center" style="font-size: 18px; padding: 30px 0;">
                        NO PARCELS
                    </td>
                </tr>
            }
            <!--data row code here-->
        </tbody>
    </table>
    <h2 class="header-text" style="margin-top:20px;">Incoming</h2>
    <table class="table table-striped" id="airportparcel">
        <thead>
            <tr class="table-secondary">
                <th scope ="col">
                    ID
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    DESCRIPTION
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    FROM
                    <span class="table-sort"></span>
                </th>
                <th scope="col"> 
                    TO
                    <span class="table-sort"></span>
                </th>
                <th scope="col">
                    WEIGHT (KG)
                    <span class="table-sort"></span>
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (airportList.Count>0)
            {
                @foreach (var parcel in ViewData["airportParcel"] as List<Parcel>)
                {
                    <tr>
                        <td class="td-id" scope="row">
                            <a asp-area="" asp-action="IndividualParcel" asp-route-id="@parcel.parcelId" class="href">@parcel.parcelId</a>
                        </td>
                        <td class="td-description" scope="row">
                            @parcel.itemDescription.Substring(0,Math.Min(parcel.itemDescription.Length,20))
                        </td>
                        <td class="td-from" scope="row">
                            @parcel.fromCity,@parcel.fromCountry
                        </td>
                        <td class="td-to" scope="row">
                            @parcel.toCity,@parcel.toCountry
                        </td>
                        <td scope="row">
                            @parcel.parcelWeight
                        </td>
                        <td class="td-button" scope="row">
                            <button id="acceptbutton" class="togglebutton" value="false" style="background-color:#FA6B84;">Accept</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center" style="font-size: 18px; padding: 30px 0;">
                        NO PARCELS
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="viewparcels">
    <h2>VIEW PARCELS</h2>
    <table class="table table-striped" id="remainingparcel">
        <thead>
            <tr class="table table-secondary">
                <th>
                    ID
                    <span class="table-sort"></span>
                </th>
                <th>
                    DESCRIPTION
                    <span class="table-sort"></span>
                </th>
                <th>
                    DELIVERY ADDRESS
                    <span class="table-sort"></span>
                </th>
                <th>
                    FROM
                    <span class="table-sort"></span>
                </th>
                <th>
                    TO
                    <span class="table-sort"></span>
                </th>
                <th>
                    WEIGHT (KG)
                    <span class="table-sort"></span>
                </th>
                <th>
                    DELIVERY STATUS
                    <span class="table-sort"></span>
                </th>
                <th>
                    DELIVERY MAN
                    <span class="table-sort"></span>
                </th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @if (remainingList.Count > 0)
            {
                @foreach (var parcel in ViewData["remainingParcel"] as List<Parcel>)
                {
                    <tr>
                        <td class="td-id">
                            <a asp-area="" asp-action="IndividualParcel" asp-route-id="@parcel.parcelId" class="href">@parcel.parcelId</a>
                        </td>
                        <td class="td-description">
                            @parcel.itemDescription.Substring(0,Math.Min(parcel.itemDescription.Length,20))
                        </td>
                        <td class="td-address">
                            @parcel.deliveryAddress
                        </td>
                        <td class="td-from">
                            @parcel.fromCity,@parcel.fromCountry
                        </td>
                        <td class="td-to">
                            @parcel.toCity,@parcel.toCountry
                        </td>
                        <td class="td-weight">
                            @parcel.parcelWeight
                        </td>
                        @{if (parcel.deliveryStatus == '3')
                            {
                                <td class="td-status" style="color:forestgreen">

                                    @statusvalue[(char)parcel.deliveryStatus]
                                </td>
                            }
                            else if (parcel.deliveryStatus == '4')
                            {
                                <td class="td-status" style="color:red">

                                    @statusvalue[(char)parcel.deliveryStatus]
                                </td>
                            }
                            else
                            {
                                <td class="td-status" style="color:#E4D00A	">

                                    @statusvalue[(char)parcel.deliveryStatus]
                                </td>
                            }
                        }
                        <td class="td-status">
                            @deliveryman[(int)parcel.deliveryManId]
                        </td>
                        <td class="td-error">
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" class="text-center" style="font-size: 18px; padding: 30px 0;">
                        NO PARCELS
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function(){

        $("#viewparcels").hide(); // make it into a div to hide at once
        if (localStorage.getItem('errorParcels')){
            var errorParcelData = JSON.parse(localStorage.getItem("errorParcels"));
            localStorage.removeItem('errorParcels');
            $.each(errorParcelData, function (index, errorParcelId) {
                var spanElement = $('span#'+errorParcelId);
                if (spanElement != null){
                    spanElement.text("Staff exceeded parcel limit!");
                }
            });
        }

        $("#update").on("click",function(){
           var pendingParcel = document.querySelector('table#pendingparcel');
           var pendingParcelData = [];
           var rows = pendingParcel.tBodies[0].rows;
            for (var i = 0; i < rows.length; i++) {
                var parcelid = rows[i].cells[0].textContent.trim().replace(/\n/g, '');
                var deliverymanid = rows[i].cells[5].querySelector('select').value;
                if (deliverymanid === ""){
                    deliverymanid = null;
                }
                var data = {
                    id:parcelid,
                    deliveryManId:deliverymanid,
                    errorMsg:null
                }
                pendingParcelData.push(data);
            }
            var airportParcel = document.querySelector('table#airportparcel');
            var airportParcelData = [];
            var rows2 = airportParcel.tBodies[0].rows;
            for (var i = 0; i < rows2.length; i++) {
                var parcelid = rows2[i].cells[0].textContent.trim().replace(/\n/g, '');
                var collected = rows2[i].cells[5].querySelector('button').value;
                var data = {
                    id:parcelid,
                    collected:collected,
                }
                airportParcelData.push(data);
            }
            var pendingDone = false;
            var airportDone = false;

            $.ajax({
                url: '/StationManager/DeliveriesPending',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(pendingParcelData),
                success: function (response) {
                    console.log(response);
                    pendingDone = true;
                    checkRequestsStatus();
                    var errorParcels = response.errorParcels;
                    localStorage.setItem('errorParcels',JSON.stringify(errorParcels));
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

            $.ajax({
                url: '/StationManager/DeliveriesAirport',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(airportParcelData),
                success: function (response) {
                    console.log(response);
                    airportDone = true;
                    checkRequestsStatus();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

            function checkRequestsStatus() {
                if (pendingDone && airportDone) {
                    console.log("Both requests completed successfully");
                    location.reload();
                }
            }
        });
        $("#acceptbutton").click(function(){
           var value = $(this).val();
           if (value === "false"){    
                $(this).css('background-color', '#ACF3AE');
                $(this).val("true");
            } 
            else {
                $(this).css('background-color', '#FA6B84');
                $(this).val("false");
            }
        });

        $("li#pendingdiv").click(function(){
            $("#viewparcels").hide();
            $("#pending").show();
            $("#pendingdiv").addClass("active");
            $("#alldiv").removeClass("active");
            updateTabIndicator();


        });
        $("li#alldiv").click(function () {
            $("#pending").hide();
            $("#viewparcels").show();
            $("#pendingdiv").removeClass("active");
            $("#alldiv").addClass("active");
            updateTabIndicator();
        });
        $("button#collectall").on("click",function(){
            $('button#acceptbutton').each(function () {
                $(this).val('true');
                $(this).css('background-color','#ACF3AE');
            });
        });
        $('input#searchbar').on('input', function () {
            var searchText = $(this).val().toLowerCase();

            // Filter the rows in the pendingparcel table
            $('#pendingparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) === -1;
            }).hide();

            // Filter the rows in the airportparcel table
            $('#airportparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) === -1;
            }).hide();

            // Filter the rows in the remainingparcel table
            $('#remainingparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) === -1;
            }).hide();

            // Show the filtered rows in the respective tables
            $('#pendingparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) !== -1;
            }).show();

            $('#airportparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) !== -1;
            }).show();

            $('#remainingparcel tbody tr').filter(function () {
                var rowText = $(this).text().toLowerCase();
                return rowText.indexOf(searchText) !== -1;
            }).show();
        });
        function updateTabIndicator() {
            var activeTab = $('.tabs li.active');
            var indicator = $('.tab-indicator');
            if (activeTab.length) {
                indicator.animate({
                    left: activeTab.position().left,
                    width: activeTab.outerWidth()
                }, 300); // Adjust the animation duration as needed
            }
        }
    });
    
   
</script>