@model H4G_Project.Models.Parcel

@{
    ViewData["Title"] = "IndividualParcel";
    Layout = "~/Views/Shared/_StationManager.cshtml";
    Dictionary<char,string> statusvalue = ViewData["deliverystatus"] as Dictionary<char,string>;
}

<style>
    body{
        background-color: #f9f9f9;
    }
    div.details {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #eee;
    }

    /* Style the header */
    h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    /* Style the parcel details list */
    dl.row {
        display: grid;
        grid-template-columns: 120px 1fr;
        row-gap: 10px;
        column-gap: 20px;
    }

    /* Style the dt elements */
    dt {
        font-weight: bold;
    }

    /* Style the dd elements */
    dd {
        margin: 0;
    }

    /* Style the edit and back links */
    div > a {
        display: inline-block;
        margin-top: 10px;
        padding: 8px 16px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }

        div > a:hover {
            background-color: #0056b3;
        }
</style>
<div class="details">
    <div class="details-header" style="display: flex; justify-content: space-between;">
        <h4>Parcel #@Model.parcelId.ToString()</h4>
        @{
            if(Model.deliveryStatus == '3')
            {
                <h4>
                    <b>
                        Status : <i style="color:forestgreen">

                            @statusvalue[(char)Model.deliveryStatus]
                        </i>
                    </b>
                </h4>
            }
            else if (Model.deliveryStatus == '4')
            {
                <h4>
                    <b>
                        Status : <i style="color:red">

                                @statusvalue[(char)Model.deliveryStatus]
                            </i>
                    </b>
                </h4>
            }
            else
            {
                <h4>
                    <b>
                        Status : <i style="color:#E4D00A">

                                @statusvalue[(char)Model.deliveryStatus]
                            </i>
                    </b>
                </h4>
            }
        }
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between;">
    <dl class="row" style="flex: 1;">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.itemDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.itemDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.senderName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.senderName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.senderTelNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.senderTelNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receiverName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.receiverName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receiverTelNo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.receiverTelNo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.deliveryAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.deliveryAddress)
            </dd>
    </dl>
    <dl class="row" style="flex: 1;">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fromCity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fromCity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.fromCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.fromCountry)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.toCity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.toCity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.toCountry)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.toCountry)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.parcelWeight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.parcelWeight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.deliveryCharge)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.deliveryCharge)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.currency)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.currency)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.targetDeliveryDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.targetDeliveryDate)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.deliveryManId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.deliveryManId)
            </dd>
    </dl>
</div>



    