@model CurrencyViewModel
@{
    ViewData["Title"] = "Create Parcel Record";
    Layout = "~/Views/Shared/_FrontOffice.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/currencyexchange.css">
</head>
<body>
    <form asp-controller="FrontOffice" asp-action="CurrencyExchange" method="post">
        <label>Amount : </label>
        <input name="amount" required />
        <div id="codes" class="dropdown-container">
            <label>From : </label>
            <select id="fromCurrency" name="from" asp-items="@ViewData["currencyCode"] as List<SelectListItem>"
                    class="form-control" required>
            </select>
            <label>To : </label>
            <select id="toCurrency" name="to" asp-items="@ViewData["currencyCode"] as List<SelectListItem>"
                    class="form-control" required>
            </select>
        </div>
        <div class="btn">
            <input type="submit" value="Convert" />
        </div>
    </form>
    @if (Convert.ToBoolean(ViewData["ShowResult"]))
    {
        <strong>@ViewData["Display"]</strong>
    }
    @if (!Convert.ToBoolean(ViewData["ShowResult"]))
    {
        <table border="1">
            <tr>
                <th>Singapore Dollar (SGD)</th>
                <th>Other Currencies</th>
            </tr>
            @foreach (var currency in Model.OtherCurrencies)
            {
                <tr>
                    <td>1.0</td>
                    <td>@currency.Key: @currency.Value</td>
                </tr>
            }
        </table>
    }
</body>
